@import "../mixins";

.navbar {
    display: grid;
    grid-template:
        "log tab" 1fr / 320px 1fr;
    height: 100%;
    background-color: $color-primary;

    .logo {
        @include center-content();

        img {
            max-height: 40px;
        }

        grid-area: log;
        
        font-size: 24pt;
        font-weight: $w-black;
    }

    .tabs {
        @include center-content();

        grid-area: tab;

        flex-direction: row;
        gap: 6px;
        font-size: 12pt;
        color: $white;

        .tab {
            @include clickable();

            height: 32px;
            padding: 6px 12px 3px 12px;

            &:not(.selected):hover {
                border-bottom: 2px solid $white;
            }

            &.selected {
                font-weight: $w-semibold;
                color: $color-secondary;
                border-bottom: 2px solid $color-secondary;
            }
        }
    }
}