@import "../variables";

.page-list {
    padding: 12px 24px;
}

.digimon-list-table {
    border-collapse: collapse;
    border: 1px solid #888;

    tr {
        border: 1px solid #888;
        text-align: center;

        td:not(:first-child):not(:last-child) {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

        &:hover {
            background-color: $color-secondary-l3;
        }
    }

    tbody {
        .names {
            .names-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .display-name {
                    font-weight: $w-semibold;
                }
                .jp-name {
                    font-family: 'MS PGothic';
                    font-weight: $w-black;
                }
            }
        }

        .group-bandai, .group-toei {
            img {
                max-height: 160px;
            }
        }

        td {
            padding: 2px 10px;

            &:not(.group-bandai):not(.group-toei) {
                image-rendering: pixelated;
            }
        }
    }
}