/* latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3Kz-C8.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "fonts/formula1.css";

:root {
    font-family: $font-std;
    color: $black;
}

* {
    box-sizing: border-box;
}

b, strong {
    font-weight: $w-semibold;
}

a {
    color: $black;
    text-decoration: none;
}

body {
    font-family: $font-std;
    background-color: $white;
    margin: 0;
}

.page {
    width: 100%;
    //height: calc(100vh - #{$navbar-height});
}

button {
    border: 0;
}